.container {
  display: flex;
  width: 100vw;
  height: 100vh;

  gap: 30px;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: ivory;
}

.title {
  font-weight: 600;
  font-size: 4rem;
  user-select: none;

  font-family: "LuckiestGuy";
  color: #ffb734;
}

.subtitle {
  font-weight: 600;
  font-size: 2rem;
  user-select: none;

  font-family: "LuckiestGuy";
  color: #ad7b1e;
}

.title_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading {
  font-weight: 600;
  font-size: 2rem;
  user-select: none;
  font-family: "LuckiestGuy";
  color: #ad7b1e;
}
